.formacao__titulo{
   color: black;
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 3rem;
   margin-top: 3rem;
   text-align: center;
   text-transform: uppercase;
}

.formacao__grupo{
   display: flex;
   list-style: none;
   justify-content: space-evenly;
}

.formacao__box{
   border: 2px solid gold;
   border-radius: 10%;
   box-sizing: border-box;
   padding: 1rem;
   width: 30%;
   box-shadow: 0 0 2rem gold;
}

.formacao__nome, .formacao__periodo{
   font-size: 1.2rem;
   margin-top: .7rem;
   text-align: center;
}

.formacao__img{
   position: relative;
   z-index: -1;
}

@media screen and (max-width: 768px){
   .formacao__grupo{
      flex-direction: column;
      align-items: center;
   }

   .formacao__box{
      width: 50%;
      justify-content: center;
      margin-bottom: 2rem;
   }

   .formacao__img img{
      width: 334px;
   }
}

@media screen and (max-width: 375px){
   .formacao__box{
      width: 80%;
      justify-content: center;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .formacao__img img{
      width: 200px;
   }
}