.hobbies__titulo{
   color: black;
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 3rem;
   margin-top: 3rem;
   text-align: center;
   text-transform: uppercase;
}

.hobbies__grupo{
   color: black;
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}

.hobbies__box{
   align-items: center;
   border: 2px solid gold;
   border-radius: 10%;
   box-shadow: 10px 5px 5px black;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   font-weight: bold;
   margin-bottom: 1.4rem;
   padding: 1rem;
   transition: 0.3s;
   width: 15%;
}

.hobbies__box:hover{
   background-color: black;
   color: white;
}

.hobbies__nome{
   font-size: 1.3rem;
   margin-top: .7rem;
   text-transform: uppercase;
   text-align: center;
}

@media screen and (max-width: 768px){
   .hobbies__box{
      width: 20%;
   }

   .hobbies__nome{
      font-size: 1rem;
   }
}

@media screen and (max-width: 375px){
   .hobbies__grupo{
      flex-direction: column;
      align-items: center;
   }

   .hobbies__box{
      margin-left: 1rem;
      margin-right: 1rem;
      width: 70%;
   }

   .hobbies__nome{
      font-size: 1rem;
   }
}